/*
Alertmanager API

API of the Prometheus Alertmanager (https://github.com/prometheus/alertmanager)

API version: 0.0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package alertmanagerapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
)


// AlertgroupAPIService AlertgroupAPI service
type AlertgroupAPIService service

type ApiGetAlertGroupsRequest struct {
	ctx context.Context
	ApiService *AlertgroupAPIService
	active *bool
	silenced *bool
	inhibited *bool
	filter *[]string
	receiver *string
}

// Show active alerts
func (r ApiGetAlertGroupsRequest) Active(active bool) ApiGetAlertGroupsRequest {
	r.active = &active
	return r
}

// Show silenced alerts
func (r ApiGetAlertGroupsRequest) Silenced(silenced bool) ApiGetAlertGroupsRequest {
	r.silenced = &silenced
	return r
}

// Show inhibited alerts
func (r ApiGetAlertGroupsRequest) Inhibited(inhibited bool) ApiGetAlertGroupsRequest {
	r.inhibited = &inhibited
	return r
}

// A list of matchers to filter alerts by
func (r ApiGetAlertGroupsRequest) Filter(filter []string) ApiGetAlertGroupsRequest {
	r.filter = &filter
	return r
}

// A regex matching receivers to filter alerts by
func (r ApiGetAlertGroupsRequest) Receiver(receiver string) ApiGetAlertGroupsRequest {
	r.receiver = &receiver
	return r
}

func (r ApiGetAlertGroupsRequest) Execute() ([]AlertGroup, *http.Response, error) {
	return r.ApiService.GetAlertGroupsExecute(r)
}

/*
GetAlertGroups Method for GetAlertGroups

Get a list of alert groups

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetAlertGroupsRequest
*/
func (a *AlertgroupAPIService) GetAlertGroups(ctx context.Context) ApiGetAlertGroupsRequest {
	return ApiGetAlertGroupsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []AlertGroup
func (a *AlertgroupAPIService) GetAlertGroupsExecute(r ApiGetAlertGroupsRequest) ([]AlertGroup, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []AlertGroup
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlertgroupAPIService.GetAlertGroups")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/alerts/groups"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.active != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "active", r.active, "")
	} else {
		var defaultValue bool = true
		r.active = &defaultValue
	}
	if r.silenced != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "silenced", r.silenced, "")
	} else {
		var defaultValue bool = true
		r.silenced = &defaultValue
	}
	if r.inhibited != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "inhibited", r.inhibited, "")
	} else {
		var defaultValue bool = true
		r.inhibited = &defaultValue
	}
	if r.filter != nil {
		t := *r.filter
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter", t, "multi")
		}
	}
	if r.receiver != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "receiver", r.receiver, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v string
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v string
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
